
body {
	padding-top: 10px;
}

#logo {
	font-size: 120%;
	font-family: 'Zilla Slab Highlight', cursive;

}


.jumbotron {

	// padding: 30px 15px;
 //  	margin-bottom: 30px;
 //  	color: inherit;
 // 	 background-color: #f9f9f9;
 //  	text-align: center;
  	background-size: cover;
	background-image: url("../images/Jordan-11-1995.jpg");
	//background-size: cover;
	height: 90vh;

}

.overlay {
	font-family: 'Roboto', sans-serif;
	color: white;
	width: 280px;
	position: absolute;
	top: 420px;
	left: 200px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 5px #888888;
}

.title {
	padding-top: 50px;
	padding-bottom: 10px;
	text-align: center;
}

.page-header {
	margin-left: 80px;
	border-bottom: 1px solid black;
}

.glyphicon-eye-open,
.glyphicon-shopping-cart {
	padding-right: 10px;
	font-size: 25px;
	color: #ccc;
}

button {
	padding-top: 10px;
}

#quote {
	font-size: 120%;
	font-family: 'Sedgwick Ave', cursive;
}

.gmap {
	width: 100%;
	border-radius: 10px;
	padding: 10px 0;
}



.smallpic {
	padding-bottom: 8px;
}

.tooltip {
	color: red;
	border-bottom: dotted 10px #fff;
	padding-bottom: 2px;
}

.tooltip:hover {
	text-decoration: none;
}

.tool2 {
	color: blue;

	
}

.tool2 a:hover {
	text-decoration: none;
	color: green;
	border-bottom: dotted 10px #fff;
	padding-bottom: 2px;
}

footer {
	margin-right: 40px;
	text-align: right;
}