
body {
	padding-top: 10px;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.5);
}

.title {
	text-align: center;
}

.page-header {
	margin-left: 80px;
	border-bottom: 1px solid black;
}

footer {
	margin-right: 40px;
	text-align: right;
}

.gmap {
	width: 100%;
	border-radius: 10px;
	padding: 10px 0;
}



.smallpic {
	padding-bottom: 8px;
}