
body {
	padding-top: 10px;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.5);
}

.title {
	text-align: center;
}

.page-header {
	margin-left: 80px;
	border-bottom: 1px solid black;
}


button {
	padding-top: 10px;
}

.gmap {
	width: 100%;
	border-radius: 10px;
	padding: 10px 0;
}



.smallpic {
	padding-bottom: 8px;
}

.tooltip {
	color: red;
	border-bottom: dotted 10px #fff;
	padding-bottom: 2px;
}

.tooltip:hover {
	text-decoration: none;
}

.tool2 {
	color: blue;

	
}

.tool2 a:hover {
	text-decoration: none;
	color: green;
	border-bottom: dotted 10px #fff;
	padding-bottom: 2px;
}

footer {
	margin-right: 40px;
	text-align: right;
}